<div class="welcome-text">
  Welcome!, please select today practice
</div>

<div class="container-wrapper">

  <!-- PRACTICE -->
  <div class="custom-box">
    <a [routerLink]="['/recomender']" routerLinkActive="router-link-active">
      <figure>
       <img src="./assets/imagenes/homework.png"
             alt="Practice: Click here for practice"
             width="150">
        <figcaption>Practice</figcaption>
      </figure>
    </a>
  </div>

  <!-- STRATEGIES -->
  <div class="custom-box">
    <a [routerLink]="['/strategies']" routerLinkActive="router-link-active">
      <figure>
        <img src="./assets/imagenes/target.png"
             alt="Strategies: Click here to know strategies"
             width="150">
        <figcaption>Strategies</figcaption>
      </figure>
    </a>
  </div>

  <!-- SHORT BOOKS -->
  <div class="custom-box">
    <a [routerLink]="['/prueba']" routerLinkActive="router-link-active">
      <figure>
        <img src="./assets/imagenes/book.png"
             alt="Books: Click here to read free"
             width="150">
        <figcaption>Short Books</figcaption>
      </figure>
    </a>
  </div>

  <!-- STATISTICS -->
 <div class="custom-box">
  <a [routerLink]="['/statistics']">
    <figure>
      <img src="./assets/imagenes/statistics.png" width="150">
      <figcaption>Statistics</figcaption>
    </figure>
  </a>
</div>
   

</div>

<!-- Créditos -->
<div style="text-align: center; margin-top: 20px;">
  <p>Image acknowledgments: freepik</p>
</div>
