<app-navbar></app-navbar>
<h5 class="titulo-free-reading">Extensive reading section</h5>
<!--<p>prueba works! Escriba el nombre del elemento a agregar: Nicolas</p>
<input type="text" [(ngModel)]="title">
{{title}}


<button (click)="addItem()">Agregar elemento</button>

<ul>
    <li *ngFor="let name of items; index as i">
        {{ name }}{{i}}
        <button (click)="deleteItem(i)">delete</button>
    </li>
</ul>
<div *ngIf="items.length ==0">la lista está vacía</div>-->

<div class="libro-grid">
    <app-libro
    *ngFor="let libro of libros"
    [libro]="libro"
    (libroClicked)="clickLibro($event)"
    >
    </app-libro>
  </div>
