/* CONTENEDOR PRINCIPAL */
.contenedor {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*IZQUIERDA */
.lado-izquierdo {
  width: 60%;
  background: white;
  padding-left: 80px;
  padding-top: 150px;
}

/* DERECHA */
.lado-derecho {
  width: 45%;
  background: #435585;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGEN */
.lado-derecho img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* LOGIN */
.login {
  margin-top: 0;
  height: auto;
  right: 0;
  justify-content: flex-start;
}

/* BOTÓN */
.morado {
  background-color: #435585 !important;
  color: white !important;
  border-radius: 12px;
}

/* INPUTS */
.login input {
  color: black !important;
  background: #b9b0ac;
  border-radius: 6px;
}

/* CARD */
.login-container {
  background: white !important;
  padding: 30px;
  border-radius: 12px;
}

/* LOGO MOBILE (oculto en PC) */
.logo-mobile {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.logo-mobile img {
  width: 120px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .contenedor {
    flex-direction: column;
    height: auto;
  }

  .lado-izquierdo {
    width: 100%;
    padding: 20px;
    padding-top: 40px;

    /* centrado bonito */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lado-derecho {
    display: none; /* ocultamos panel */
  }

  .login-container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
  }

  .login input {
    width: 100%;
  }

  .morado {
    width: 100%;
  }

  /* MOSTRAR LOGO SOLO EN MÓVIL */
  .logo-mobile {
    display: block;
  }

}
