/* División en dos columnas */
.contenedor {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* IZQUIERDA */
.lado-izquierdo {
  width: 60%;
  background: white;
  padding-left: 80px;  /* AJUSTA para moverlo */
  padding-top: 150px;
}

/* DERECHA (panel morado) */
.lado-derecho {
  width: 45%;
  background: #435585;
  
}

/* Ajustar login (quita lo que lo mandaba a la derecha) */
.login {
  margin-top: 0;
  height: auto;
  right: 0;      /* ← quita el desplazamiento */
  justify-content: flex-start; /* alinea normal */
}

/* Botón morado */
.morado {
  background-color: #435585 !important;
  color: white !important;
  border-radius: 12px;
}

/* Inputs como Figma */
.login input {
  color: black !important;
  background: #b9b0ac;
  border-radius: 6px;
}

/* Caja del login */
.login-container {
  background: white !important;
  padding: 30px;
  border-radius: 12px;
  
}
.lado-derecho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lado-derecho img {
 width: 100%;
  max-width: 700px; 
  height: auto;
}
@media (max-width: 768px) {

  .contenedor {
    flex-direction: column;
    height: auto;
  }

  .lado-izquierdo {
    width: 100%;
    padding: 20px;
    padding-top: 40px;
  }

  .lado-derecho {
    display: none; /* ocultamos panel morado */
  }

  .login-container {
    width: 100%;
    padding: 20px;
  }

  .login input {
    width: 100%;
  }

  .morado {
    width: 100%;
  }
}
