
<section class="principal">

    <div class="contenedor">

        <!-- IZQUIERDA: tu login -->
        <div class="lado-izquierdo">
            <div class="row login">
                <div class="login-container">
                    <div class="card">
                        <div class="card-action white white-585435 black-text center-align">
                            <h3>Log in</h3>
                            <h5>Welcome back!</h5>
                        </div>
                        <div class="card-content">

                            <div class="form-field">
                                <label for="username">Username</label>
                                <input type="text" id="username" [(ngModel)]="user" required>
                            </div>

                            <div class="form-field">
                                <label for="password">Password</label>
                                <input type="password" id="password" [(ngModel)]="password" required>
                            </div>

                            <div class="form-field left-align">
                                <button class="btn-large morado" (click)="login()">Look for</button>
                                &nbsp;&ensp;
                                <button *ngIf="estaAutenticado()" class="btn-large morado" id="entrar"
                                    [routerLink]="['/homeapp']" routerLinkActive="router-link-active">
                                    Log in
                                </button>
                            </div>

                        </div>

                        <div class="center-align boxi">
                           Don't have an account?
                            <a [routerLink]="['/signup']">Sign up here</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- DERECHA: panel morado o imagen -->
        <div class="lado-derecho">
            <!-- Puedes poner una imagen dentro -->
            <img src="assets/imagenes/Tutor-logo.png" alt="Ilustración">
        </div>

    </div>

</section>
