.registro-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.registro-form {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registro-panel {
  width: 50%;
  background: #435585;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-registro {
  width: 700px;
  opacity: 0.9;
}

.btn {
  width: 100%;
  margin-top: 20px;
}


  .registro-form,
  .registro-panel {
    width: 100%;
    height: auto;
  }
.btn-custom {
  background-color: #435585 !important;
}
@media (max-width: 768px) {
  .registro-wrapper {
    flex-direction: column;
    height: auto;
  }

  .registro-form {
    width: 100%;
    padding: 20px;
  }

  .registro-panel {
    display: none; /* ocultamos panel azul */
  }

  .icon-registro {
    width: 200px;
  }

  .btn {
    width: 100%;
  }
}



