<div class="registro-wrapper">

  <!-- COLUMNA IZQUIERDA (Formulario) -->
  <div class="container registro-form">
    <h2 class="center">Sign Up</h2>

    <form [formGroup]="formularioRegistro" (ngSubmit)="guardarregistro()">

      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" formControlName="name" required>
          <label for="first_name">Name</label>
        </div>

        <div class="input-field col s6">
          <input id="last_name" type="text" formControlName="lastname" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" formControlName="email" required>
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="user" type="text" formControlName="user" required>
          <label for="user">Username</label>
        </div>

        <div class="input-field col s6">
          <input id="password" type="password" formControlName="password" required>
          <label for="password">Password</label>
        </div>
      </div>

      <!-- BOTÓN PRINCIPAL -->
      <div class="row right-align">
        <button class="btn btn-custom">
        SIGN UP
      </button>
      </div>

    </form>

  </div>

  <!-- COLUMNA DERECHA (Imagen) -->
  <div class="registro-panel">
    <img class="icon-registro" src="assets/imagenes/Tutor-logo.png" alt="icon">
  </div>

</div>
