.contenedor-grafica {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 40px;
}

canvas {
    height: 400px !important;
}
.iframe-container {
  width: 100%;
  height: 90vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.dashboard-title{
  margin-left: 500px;
}